.screen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: gray;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    width: 25%;
    height: 100vh;
    padding: 40px;
    background-color: #262626;
    color: white;
}

#profileImg {
    border: 1px solid white;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 10px;
}

.bio {
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    color: black;
}

.dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: #171513;
    border-radius: 10px;
    color: white;
    margin: 10px 0;
    padding: 10px;
}

.richInput {
    /* width: 100%; */
    height: 150px;
    border-radius: 10px;
    color: black;
    padding: 10px;
}

.rightContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    background-color: #171513;
    color: white;
}

.cvContainer {
    width: 40%;
    height: 90vh;
    color: white;
}

.cvBuilder {
    width: 100%;
    height: 100%;
    background-color: white;
}

.shareLink {
    display: flex;
    flex-direction: column;
}

.copyButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    color: orange;
}

.linkInput {
    width: 200px;
    height: 30px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.shareLinkContainer {
    display: flex;
    flex-direction: row;
}