@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.paragraph {
  font-family: 'Roboto', sans-serif;
}

.small {
  font-size: 0.75rem;
}

.normal {
  font-size: 1.25rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
